@tailwind base;
@tailwind components;
@tailwind utilities;

.grad
{
  background: linear-gradient(45deg, #000c34 0%, #006194 44%, #01acc8 69%, #00c7da 81%, #01ffff 100%);
}
.rgrad
{
  background: linear-gradient(-45deg, #000c34 0%, #006194 44%, #01acc8 69%, #00c7da 81%, #01ffff 100%);
}
.txt{
  color: rgba(255, 255, 255, 0.5);
}
.btnbg
{
  background: linear-gradient(to right,rgb(11, 135, 192),rgb(25, 169, 212));
}
.shadow_{
  box-shadow: 0px 22px 59px 0px rgb(0 0 0 / 15%);
}
@keyframes example {
  0%{margin-top: -100px;}
  100%{margin-top: 0px;}
}

/* The element to apply the animation to */
.slide {
  animation-name: example;
  animation-duration: 0.5s;
}
